<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liuxiankai.dilidili.provider.mapper.AdminMapper">
  <resultMap id="BaseResultMap" type="com.liuxiankai.dilidili.provider.domain.Admin">
    <!--@mbg.generated generated on Fri Feb 28 18:20:18 CST 2020.-->
    <!--@Table user-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="userName" jdbcType="VARCHAR" property="username" />
    <result column="dbSource" jdbcType="VARCHAR" property="dbsource" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="pwd" jdbcType="VARCHAR" property="pwd" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Fri Feb 28 18:20:18 CST 2020.-->
    id, userName, dbSource, phone, email, pwd
  </sql>
</mapper>